/*Norma Carr*/


/*Tag h1*/

h1 {
    border: 3px solid black;
    margin-top: 60px;
    margin-bottom: 15px;
    margin-right: 580px;
    margin-left: 580px;
    text-align: center;
    background-color: rgb(166, 203, 247);
}


/*Tag form*/

form {
    border: 3px solid black;
    margin: 13px;
    height: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 580px;
    margin-left: 580px;
    background-color: rgb(166, 203, 247);
}


/*Tag label*/

label {
    border: 2px solid rgb(0, 1, 14);
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 15px;
    font-style: normal;
    background: rgba(234, 241, 234, 0.719);
}


/*Tag input*/

input {
    border: 2px solid rgb(0, 1, 14);
    width: 600px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    background: rgb(243, 247, 252);
}


/*Button Play*/

#display {
    position: absolute;
    border: 2px solid rgb(0, 1, 14);
    width: 90px;
    height: 40px;
    margin-top: 10px;
    margin-right: 300px;
    margin-left: 280px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(166, 203, 247);
    align-items: center;
}


/*Button Delete */

#clear {
    position: absolute;
    border: 2px solid rgb(0, 1, 14);
    width: 90px;
    height: 40px;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 520px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    background: rgb(166, 203, 247);
}


/*Tag div*/

.conten {
    position: relative;
    margin-top: 60px;
    margin-bottom: 15px;
    margin-right: 478px;
    margin-left: 478px;
    text-align: center;
}

.conten img {
    width: 37%;
}

.texthead {
    position: absolute;
    width: 345px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 300px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    text-indent: 10%;
}

.textfoot {
    position: absolute;
    width: 345px;
    height: 20px;
    margin-top: 405px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 300px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    text-indent: 10%;
}